.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.value {
  font-size: 3rem;
  font-weight: 700;
}
.row {
  display: flex;
  gap: 1rem;
}
.add {
  background-color: green;
  font-size: 2.5rem;
  width: 4rem;
  border-radius: 1rem;
  cursor: pointer;
}
.sub {
  background-color: rgb(235, 43, 9);
  font-size: 2.5rem;
  width: 4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.add:active {
  background-color: aquamarine;
}
.sub:active {
  background-color: rgb(245, 108, 108);
}
.reset {
  margin-top: 1rem;
  background-color: burlywood;
  font-size: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.reset:active {
  background-color: blanchedalmond;
}
